<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-Association</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 w-full h-screen">
    <div class="w-full h-screen bg-zinc-900 text-white mt-10 p-3 align-center justify-center">
        <center><h1>Upload Files</h1></center>
        <form method="post" class="px-[75vh] mt-10" action="/upload" autocomplete="off" enctype="multipart/form-data">
            <input type="file" placeholder="username" name="file" class="mt-5"><br/>
            <input type="submit" name="Upload" id="" value="Upload File" class="bg-blue-500 p-3 mt-10 ml-9 rounded-xl">
        </form>
    </div>
</body>
</html>