<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-Association</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 w-full h-screen">
    <div class="w-full h-screen bg-zinc-900 text-white mt-10 p-3 align-center justify-center">
        <center><h1>Create Account</h1></center>
        <form method="post" class="px-[75vh] mt-10" action="/register">
            <input type="text" placeholder="username" name="username" class="mt-5  outline-none w-[10vw] border-[2px] h-[45px] w-[200px] rounded-md text-center text-black"><br/>
            <input type="text" placeholder="name" name="name" class="mt-5 w-[10vw] outline-none border-[2px] h-[45px] w-[200px] rounded-md text-center text-black"><br/>
            <input type="number" placeholder="age" name="age" class="mt-5 w-[10vw] outline-none border-[2px] h-[45px] w-[200px] rounded-md text-center text-black"><br/>
            <input type="email" placeholder="email" name="email" class="mt-5 w-[10vw] outline-none border-[2px] h-[45px] w-[200px] rounded-md text-center text-black"><br/>
            <input type="password" placeholder="password" name="password" class="mt-5 outline-none w-[10vw] border-[2px] h-[45px] w-[200px] rounded-md text-center text-black"><br>
            <input type="submit" name="create" id="" value="Create Account" class="bg-blue-500 p-3 mt-10 ml-9 rounded-xl">
        </form>
    </div>
</body>
</html>